<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot API bank bjb</title>
    <link rel="shortcut icon" href="https://www.bankbjb.co.id/assets/img/fav/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
    <script src="static/script.js" defer></script>
  </head>
  <body>
    <div class="chatbot">
      <header>
        <h2>Chatbot API bank <span>bjb </span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20"><path d="M1.393 14.27l-0.393 1.895c3.705-0.070 15.836-4.428 16.393-7.064l0.184-0.908c-4.17 2.908-12.83 6.096-16.184 6.077zM2.171 11.080l-0.36 1.747c3.684 0 15.836-4.431 16.393-7.065l0.154-0.753c-5.381 3.729-12.92 5.983-16.187 6.071zM18.973 2c-5.21 3.475-13.010 5.8-16.066 5.808l-0.394 1.898c3.82-0.015 15.83-4.431 16.393-7.064l0.073-0.34c0.024-0.114 0.048-0.23 0.060-0.302h-0.066z"></path></svg></h2>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <i class="fa fa-robot"></i>
          <p>Selamat datang di Chatbot API bank bjb <br>Ada yang bisa saya bantu hari ini?</p>
        </li>
        <li class="chat outgoing">
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Kirim pesan ke Chatbot..." required></textarea>
        <span id="send-btn" class="fa-solid fa-circle-arrow-up"></span>
      </div>
    </div>
  </body>
</html>